{% extends 'flatpages/default.html' %}


{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все статьи</h1>
    <h1>{{  news|length  }}</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о статьях!" }} </h3>

   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Текст</td>
               <td>Дата</td>
           </tr>

           {% for news in news %}
           <tr>
               <td>{{ news.title }}</td>
               <td>{{ news.content|truncatechars:20 }}</td>
               <td>{{ news.date }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}
{% endblock content %}